<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
</head>

<body>

    <h1>Inventario</h1>

    <a href="/">Volver al inicio</a>

    <hr>

    <h2>Agregar producto</h2>

    <form method="POST" action="/agregar-producto">

        <label>Nombre:</label>
        <input type="text" name="nombre" required>

        <br><br>

        <label>Cantidad:</label>
        <input type="number" name="cantidad" required>

        <br><br>

        <label>Stock mínimo:</label>
        <input type="number" name="stock_minimo" value="5" required>

        <br><br>

        <button type="submit">
            Agregar Producto
        </button>

    </form>

    <hr>

    <h2>Lista de productos</h2>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Stock Mínimo</th>
            <th>Acciones</th>
        </tr>

        {% for producto in productos %}
        <tr>
            <td>{{ producto.obtener_id() }}</td>
            <td>{{ producto.obtener_nombre() }}</td>
            <td>{{ producto.obtener_cantidad() }}</td>
            <td>{{ producto.obtener_stock_minimo() }}</td>

            <td>
                <a href="/editar-producto/{{ producto.obtener_id() }}">
                    <button type="button">
                        Editar
                    </button>
                </a>
            </td>

        </tr>
        {% endfor %}

    </table>

</body>

</html>